body{
    font-family:  "Roboto", sans-serif;
}

main{
    margin-bottom: 50px;
    min-height:calc(100vh - 15rem - 400px);
}

#dragDiv{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-image: url("../images/papelera.png");
    background-size:contain;
}

#papelera{
    height: 100px;
    width: 100px;
}

.jumbocustom{
    height: 300px;
}

.nav-center-custom > li{
    cursor: pointer;
}
#googleMap {
    margin: 0 auto;
}
/*Login*/
#loginForm{
    width: 300px;
    margin: 0 auto;
}

#loginForm button{
    width: 100%;
}
#userSpan{
    margin-top:15px;
    margin-right: 10px;
}
.thumb-custom{
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

.thumb-custom:hover{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.thumb-custom > .caption{
    background-color: #f5f5f5;
}

.thumb-custom > .caption > p{
    font-weight: 700;
}

.thumb-shop-custom img{
    height: 180px;
    width: 100%;
}

.btn-custom{
    margin-top:8px;
}

.btn-thumb-custom{
    color:white;
    background-color: #ff7f00;
}

.btn-thumb-custom:hover{
    color: white;
    background-color: #ed6003;
}

.li-custom{
    cursor: pointer;
}

.li-custom:hover{
 background-color: #ddd;
}

.prod-thumb-custom{
    border: none;
}

.prod-img-thumb{
    max-height: 400px;
}

.prod-data-container-custom{
    display: flex;
    align-content: space-between;
    height: 400px;
    flex-wrap: wrap;
}

.data-container-div{
    flex-basis: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    height: 200px;
}

.prod-data-div{
    flex-basis: 100%;
    border-bottom:1px solid #eee;
}

.prod-data-title > h3{
    font-style: italic;
    font-weight: 500;
    font-size: 4rem;
}

.prod-data-button{
    flex-basis: 100%;
    align-self: flex-end;
    width: 50px;
}

.prod-data-button > button{
    width: 150px;
}

.prod-data-button > button:hover{
   background-color: #ddd;
}

.price-custom{
color: orangered ;
font-size: 3rem;
}

.tab-content-custom{
    min-height: 200px;
}

/* CSS del CRUD*/
thead > tr{
   width: calc(100% - 18px);
}
tbody{
    display: block;
    height: 20rem;
    overflow-y: scroll;
}
tr{
    display: flex;
}

.tdDesc, .tdAddress{
   width: 30%;
}

.tdTitle, .tdCatDesc{
    width: 40%;
}

.tdName{
    width: 20%;
}

.tdPrice, .tdTel{
    width: 15%;
}

.tdCategory, .tdCoords{
    width: 15%;
}

.tdButton{
    width: 20%;
}

.tableCrud .divDesc{
    max-height: 2.5rem;
    overflow: hidden;
}


footer{
    background-color:#f8f8f8;
    height: 15rem;
}

@media (min-width:768px){
    .nav-center-custom{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-center-custom > li{
    width: 20%;
    text-align: center;
}


.nav-center-custom > li:hover{
    background-color:rgba(255,255,255,0.1);
}


}